:root {
  --primary-color: #32b7eb;
}

html {
  scroll-behavior: smooth;
}

mark {
  background-color: var(--primary-color);
  color: #00000069;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}

body {
  background-color: #fcfcfc;
}

